<html>
<head>
    <title> TO Do List</title>
    <link rel="stylesheet" href="css/style.css" >
</head>
<body>
    <div id="heading">
    <h1> TO DO List APP</h1>
    <h1 class="head" > <%= date %> </h3>
</div>
<div class="box">
            <% items1.forEach((task)=>{ %>
                <form action="/delet" method="POST">
                <div class="item">
                    
                <input type="checkbox"  name="check" value="<%=task._id%>" onchange="this.form.submit()"   >
                <p> <%=task.name%></p>
                </form>
            </div>

            <% });%> 
    <form action="/give" method="POST" class="item">
       <input type="text" name="task" placeholder="Task">
      <button type="submit" >+</button>
    
    </form>
</div>


    
</body>

</html>